body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.imageCover{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(120px);
    background-image: radial-gradient(circle,#115C6E,#115C6E);
    z-index: -1;
    margin-top: 20px;
}

.filterblur{
  width: 50%;
  height: 50%;
  border: 2px solid red;
  position: absolute;
  right: 200px;
  filter: blur(450px);
  background: radial-gradient(circle, #DA30BC -6.36%, #7E08C0 101.72%);
}

.backImage::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 85%;
    border: 1px solid #FFFFFF;
    top: 6.5rem;
    right: 3.8rem;
    border-radius: .25rem;
    z-index: -1;
}


.item {
  display: flex;
  width: 100%;
  margin-top: 25px;
  align-items: center;
  padding: 0px 50px;
}

span {
  margin: 0px 20px;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .backImage::after {
    top: 4.8rem;
    right: 3rem;
  }

  .item {
    padding: 0px 15px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px){
.backImage::after {
  top: 4.3rem;
  right: 2.6rem;
}

.item {
  padding: 0px 15px;
}
}






